/*           ________________________________________________________
              /¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\  
                                       TEXT
              \____________________________________________________/  
              ¯¯¯¯|¯¯¯¯|¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\                               */
/* h1 {
	color: #731ec8;
} */

* {
    font-family: "Times New Roman";
}

.epic {
	font-size: 75px
}

.text-font-bold {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.through {
    text-decoration: line-through;
}
/*

\___________________________________                               */