/*           ________________________________________________________
              /¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\  
                                      TABLE
              \____________________________________________________/  
              ¯¯¯¯|¯¯¯¯|¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\                               */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

table.nope {
    width: 60%;
}
table.nope1 {
    width: 30%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


td > a > img {
    display: none;
}

td > div > table {
    display: none;
}

td > div:hover > span {
    display: none;
}

td > a:hover > img {
    display: inline;
}

td > div:hover > table {
    display: block;
}


th.total, td.total, td.total > div {
    text-align: center;
}


tr:nth-child(even) {
    background-color: #dddddd;
}


caption {
    display: none;
}
/*

\___________________________________                               */