/*           ________________________________________________________
              /¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\  
                                      TEXT
              \____________________________________________________/  
              ¯¯¯¯|¯¯¯¯|¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\                               */
* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #000080;
    font-size: 25px;
}

span.subtitle {
    color: #663366;
    font-size: 20px;
    font-weight: bold;
}

header {
    text-align: center;
}

nav {
    background-color: #005853;

}

nav > a {
    color: #F1F16C;
    text-decoration: none;
}
/*
\___________________________________                               */