/*           ________________________________________________________
              /¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\  
                                       FORM
              \____________________________________________________/  
              ¯¯¯¯|¯¯¯¯|¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯\                               */
option[value=""][disabled] {
    display: none;
}

input, option {
    height: 25px;
}

input[type=text], input[type=password] {
    width: 100%;
}

input[type=submit] {
    float: left;
    height: 31px;
    background-color: rgb(120, 185, 90);
    color: white;
    font-weight: bold;
    width: 150px;
    border: 1px ridge black;
}
/*

\___________________________________                               */